.container{
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 10px;
    justify-content: center;
  }
 
  footer{
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    color: #555;
    font-size: 14px;
    border-top: 1px solid #ccc;
  }